.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
:hover.ex-1-square{
    background-color: red;
    transition: 2s;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-2-square:active{
    width: 100%;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
:hover.ex-3-square{
    border-radius: 50px;
    transition: 2s;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
:hover.ex-4-square{
    width: 0;

}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
:hover.ex-5-square{
   transform: scale(2);
}
.ex-5-square:active{
    transform: scale(.5);
}


.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    
    
}
:hover.ex-6-img{
    filter: grayscale(1);
}
:hover.ex-7-img{
    filter: blur(1)sepia(.5) ;
    
}
:hover.ex-8-img{
    filter: blur(1);
    border-radius: 20px;
    
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    border-radius: 20px;
}
.ex-9-img:hover {
    filter:blur(.5) brightness(1);
    border-radius: 20px;
    transform: scale(2);
}
.ex-10-icon {
    font-size: 60px;
    animation: mymove 1s linear;
}
@keyframes mymove {
   0% {transform: rotate(1turn);

   }   
}
.ex-11-icon {
    font-size: 60px;
    
}
:hover.ex-11-icon{
    animation: roll 3s linear;
}
@keyframes roll {
    0%{transform: rotate(0);
    }
    50%{transform: rotate(365deg);

    }
    100%{transform: rotate(0);

    }
    
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
